<input type="date" [(ngModel)]="currentDate" (change)="ngOnInit()">
<div class="calender">
  <div class="month">
    <ul>
      <li class="prev">&#10094;</li>
      <li class="next">&#10095;</li>
      <li>
        <span *ngIf="lunerDate[1] == 1">Januray</span>
        <span *ngIf="lunerDate[1] == 2">Feburary</span>
        <span *ngIf="lunerDate[1] == 3">March</span>
        <span *ngIf="lunerDate[1] == 4">April</span>
        <span *ngIf="lunerDate[1] == 5">May</span>
        <span *ngIf="lunerDate[1] == 6">June</span>
        <span *ngIf="lunerDate[1] == 7">July</span>
        <span *ngIf="lunerDate[1] == 8">August</span>
        <span *ngIf="lunerDate[1] == 9">September</span>
        <span *ngIf="lunerDate[1] == 10">Octuber</span>
        <span *ngIf="lunerDate[1] == 11">November</span>
        <span *ngIf="lunerDate[1] == 12">December</span>
  
        <br>
        <span style="font-size:18px">{{lunerDate[2]}}</span>
      </li>
    </ul>
  </div>

  <ul class="weekdays">
    <li>Mo</li>
    <li>Tu</li>
    <li>We</li>
    <li>Th</li>
    <li>Fr</li>
    <li>Sa</li>
    <li>Su</li>
  </ul>

  <ul class="days">
    <li *ngFor="let dd of daysInMonth">
      <span [ngClass]="{ active: lunerDate[0] == dd }">{{dd}}</span>
    </li>
  </ul>
</div>
